<template>
  <notifications position="bottom right">
    <template slot="body" slot-scope="props">
        <div class="notification-wrapper">
            <div class="notification vue-notification" :class="props.item.type">
                <div class="notification-icon">
                    <span v-if="props.item.type === 'success'" class="glyphicon glyphicon-ok-sign"></span>
                    <span v-if="props.item.type === 'warn'" class="glyphicon glyphicon-exclamation-sign"></span>
                    <span v-if="props.item.type === 'error'" class="glyphicon glyphicon-remove-sign"></span>
                    <span v-if="props.item.type === 'info'" class="glyphicon glyphicon-info-sign"></span>
                </div>
                <div class="notification-text">
                    <div class="notification-title">{{props.item.title}}</div>
                    <div class="notification-content" v-html="props.item.text"></div>
                </div>
            </div>
        </div>
    </template>
  </notifications>
</template>

<script>
export default {
  props: ["title", "message", "level"],
  data() {
    return {
      subject: this.title,
      body: this.message,
      type: this.level
    };
  },
  mounted() {
    if (this.message) {
      this.flash();
    }
    window.events.$on("flash", data => this.flash(data));
  },

  methods: {
    flash(data) {
      if (data) {
        this.body = data.message;
        this.type = data.level;
        this.subject = data.title;
      }

      this.$notify({
        title: this.subject,
        text: this.body,
        duration: 5000,
        speed: 1000,
        type: this.type
      });
    }
  }
};
</script>
<style>
  .notification {
    display: flex !important;
  }

  .notification-icon {
    width: 35px;
    display: inline-flex;
    align-self: center;
  }

  .notification-icon span {
    font-size: 27px;
  }

  .notification-text {
    width: 225px;
    display: inline-block;
  }
</style>
