<template>
    <div>
        <input type="hidden" :value="select.key" :name="`${name}[]`" v-for="select in selected" :key="select.key">
        <v-select 
            v-model="selected"
            :multiple="true"
            :value="dataValue"
            :closeOnSelect="false"
            :options="valueArray">
        </v-select>
    </div>
</template>

<script>
import vSelect from 'vue-select';

export default {
    components: { vSelect },
    props: ['dataValue', 'uri', 'name'],
    data () {
        return {
            selected: null,
            optValues: []
        }
    },
    created() {
        axios.get(this.uri).then(response => {
            console.log(response);
            
            this.optValues = response.data;
        }).catch(function (error) {
            console.error(error);
        });

        this.selected = this.dataValue;
        
    },
    computed: {
        valueArray(){            
            return _.map(this.optValues, function (value) {
                return {'label': value.name, 'key': value.id};
            });
        }
    }
}

</script>