<template>
  <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-bell"></i>  <span class="label label-primary" v-if="badge">{{ badge }}</span>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <div style="height: 15px; font-size: 12px;">
                <span>
                    <strong>Notificaciones</strong>
                </span>
                <a class="pull-right" style="font-size: 10px; margin:0; padding: 0; min-height: 15px; color: inherit;">Marcar todas como leidas</a>
            </div>
            <div class="divider"></div>
            <li v-for="notification in displayNotification" :key="notification.id">
                <div class="dropdown-messages-box clickable-row" @click="clickeable(notification)">
                    <a class="pull-left">
                        <img alt="image" src="https://scontent.fscl14-1.fna.fbcdn.net/v/t1.0-1/p80x80/17353312_10211368131493981_4314191449503901504_n.jpg?oh=829362e45b722e771e7a7200c9191a5e&oe=5AC839A5" class="img-circle">
                    </a> 
                    <div class="media-body">
                        <strong>{{ notification.data.name }}</strong> creo al usuario <strong>Monica Smith</strong>asdf. <br> 
                        <small class="text-muted pull-right">{{ ago(notification.created_at) }}</small>
                    </div>
                </div>
                <div class="divider"></div>
            </li>
            <div class="text-center hover-li" style="height: 30px;">
                <a href="#" class="clickable-a" style="font-size: 12px; padding: 5px 5px;">
                    <strong>Ver todas las notificaciones</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </ul>
    </li>
</template>
<script>
import moment from 'moment';

    export default {
        data(){
            return {
                notifications: [],
                displayNotification: [],
                style: 'font-weight: bold'
            }
        },
        created(){
            axios.get('/admin/notifications').then(response => {
                    this.notifications = response.data;
                    this.displayNotification = _.take(this.notifications, 3);
                }).catch(function (error) {
                    console.error(error);
                });
        },
        computed: {
            badge() {
                return _.filter(this.notifications, function(notification) {
                    return notification.read_at == null
                }).length;

            }
        },
        methods: {
            clickeable(notificable){                
                axios.put('/admin/unread-notifications/' + notificable.id, {id: notificable.id}).then(response => {
                    this.style = null;
                    this.redirectTo(notificable.data.path);
                }).catch(function (error) {
                    console.error(error);
                });
            },
            redirectTo(path){
                window.location = path;
            },
            ago(date) {
                return moment(date).fromNow()
            }
        }
    }
</script>
<style>
    .clickable-row {
        padding: 5px;
        cursor: pointer;
    }
    .clickable-a{
        display: block;
        width:100%;
        height: 100%;
        color: inherit;
    }
    .clickable-row:hover {
        border-radius: 5px;
        background: lightgrey;
    }
</style>